--prefer-binary

setuptools>=65.0.0
wheel
build
Flask==2.3.3
gunicorn==21.2.0
flask_sqlalchemy==3.1.1
flask_login==0.6.3
flask-mailman==1.1.1
python-dotenv==1.0.1
requests==2.31.0
pyAudioAnalysis==0.3.14
pydub==0.25.1
numpy>=1.23
matplotlib
eyed3==0.9.7
scipy==1.10.1
tqdm==4.66.2
psycopg2-binary==2.9.9
itsdangerous==2.1.2
imageio-ffmpeg==0.4.8
Jinja2==3.1.2
Werkzeug==2.3.7
stripe==8.6.0
joblib==1.4.2
librosa>=0.10
numba
python_speech_features==0.6
flask-cors==3.0.10
flask-migrate==4.0.5
flask-wtf==1.2.2
flask-admin==1.6.1
soundfile==0.13.1
redis==6.2.0
rq==1.13.0
boto3
google-api-python-client>=2.128.0
google-auth>=2.29.0
google-auth-httplib2>=0.2.0
httplib2>=0.20.0
